{% extends 'base.html' %}

{% block title %} Advertisement {% endblock title %}

{% block content %}
<h2>{{ advertisement.title }}</h2>
<p> {{advertisement.author}}</p>
<p> {{advertisement.publication_date}}</p>
<p>{{ advertisement.content}}</p>
<p>Price: {{advertisement.price}}</p>
{% if advertisement.picture %}
<img src="{{advertisement.picture.url}}">
{% endif %}

<!--<a href="{% url 'message_create' advertisement.id %}">Send message</a>-->

{% if advertisement.author == user %}
<p>
<a href="{% url 'ad_edit' advertisement.id %}">Edit</a>
<a href="{% url 'ad_delete' advertisement.id %}">Delete</a>
</p>
{% endif %}

{%endblock content%}
