{% extends 'base.html' %}

{% block title %} Advertisement {% endblock title %}

{% block content %}
<h2>{{ advertisement.title }}</h2>
<div class="ad__item_wrapper">

    <img class="ad__item_picture" src="{{advertisement.picture.url}}">

    <div class="ad__item_info">
<p> {{advertisement.publication_date|date:"d F Y"}}</p>
<p>{{ advertisement.content}}</p>
<p>Price: {{advertisement.price}} rub.</p>
        <p><a href="{% url 'accounts:profile' advertisement.author.id %}">{{advertisement.author}} </a>
            Phone: {{advertisement.author.phone}} </p>
    </div>

</div>
<a class="button" href="{% url 'category' advertisement.category.id %}">Back to list</a>



{% if advertisement.author == user %}
<p>
<a class="button" href="{% url 'ad_edit' advertisement.id %}">Edit</a>
<a  class="button" href="{% url 'ad_delete' advertisement.id %}">Delete</a>
</p>
{% endif %}

{%endblock content%}
