<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet"  type="text/css" href=" {% static 'bulletin_board/css/common.css' %} ">
    <link rel="stylesheet"  type="text/css" href=" {% static 'bulletin_board/css/category.css' %} ">
     <link rel="stylesheet"  type="text/css" href=" {% static 'accounts/css/category.css' %} ">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto&display=swap" rel="stylesheet">


    <title >{% block title %} Document {% endblock title %} </title>
</head>
<body>
    {% block header %}
    <header class="header wrapper">
        <div class="header__logo"><a href="{% url 'index' %}">Bulletin board </a></div>
        <div class="header__user_info">
        {% if user.is_authenticated %}
        <p class="header__user_name">{{user.first_name}} {{user.last_name}}</p>
            <div class="header__user_auth">
        <a href = "{% url 'accounts:profile' user.id %}"> Profile </a>
         <a href = "{% url 'logout' %}"> LogOut </a>
            <a href="{% url 'index'%}">Home</a>
            </div>
        {% else %}
        <p class="header__user_name">You are not logged in.</p>
           <div class="header__user_auth"> <a href = "{% url 'login' %}"> LogIn </a>
        <a href = "{% url 'accounts:signup' %}"> SignUp </a>
           <a href="{% url 'index'%}">Home</a>
           </div>
        {% endif %}
        </div>
    </header>
    {% endblock header %}
    <main class="wrapper" >

        {% block content %}
        {%endblock content%}
    </main>
    <footer class="footer">
        <p>Copyright © Denis Efremov</p>
    </footer>
</body>
</html>