{% extends 'base.html' %}

{% block title %} Category {% endblock title %}

{% block content %}
<form method="GET" action="" >
    {% csrf_token %}
    <div class="form__filter_wrapper">
    <div>  {{ filter_form.sort_type_choice.label }} {{ filter_form.sort_type_choice }}</div>
    <div>{{ filter_form.max_price_choice.label }} {{ filter_form.max_price_choice }}</div>
    <div>{{ filter_form.region_choice.label }} {{ filter_form.region_choice }}</div>
    <input type="submit" value="Apply" class="button">
        </div>
</form>

<h2>{{ category_item.name }} in  {{region}} </h2>
  {% if ad_list %}
  <ul>
    {% for ad in ad_list %}
    <li>
        <div class="ad__item_wrapper">
            {% if ad.picture %}
            <div > <a href = "{%url 'ad' ad.id %}"><img  class="ad__item_picture" src="{{ad.picture.url}}"></a> </div>
            {% endif %}
            <div class="ad__item_info">
        <a href = "{%url 'ad' ad.id %}">{{ ad.title }}</a>
            <p> {{ad.publication_date}} </p>
        <p>Price: {{ad.price}}<p>
        <p>{{ad.author.region}}</p>
            <p><a href="{% url 'accounts:profile' ad.author.id %}">{{ad.author.first_name}}
                {{ad.author.last_name}}</a> Phone: {{ad.author.phone}} </p>
            </div>
        </div>
        <hr>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No advertisments</p>
  {% endif %}

<!--====Pagination====-->
{% if ad_list.has_other_pages %}
<ul class="pagination">
    {% if ad_list.has_previous %}
        <li><a href="?page={{ ad_list.previous_page_number }}{{request_string}}">previous page</a></li>
    {% else %}
        <li class="disabled">previous page</li>
    {% endif %}
    {% for item_page in ad_list.paginator.page_range %}
        {% if ad_list.number == item_page %}
            <li class="active">{{ item_page }}</li>
        {% else %}
            <li><a href="?page={{ item_page }}{{request_string}}">{{ item_page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if ad_list.has_next %}
        <li><a href="?page={{ ad_list.next_page_number }}{{request_string}}">next page</a></li>
    {% else %}
        <li class="disabled">previous page</li>
    {% endif %}
</ul>
{% endif %}

<p><a class="button" href="{% url 'index' %}">Back to categories</a></p>
{%endblock content%}
