{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<h2> Profile of {{ object.first_name }} {{ object.last_name}}</h2>
<p>Name: {{ object.first_name }} </p>
<p>Last name: {{ object.last_name }}</p>
<p> Region: {{ object.region }}</p>
<p> Email: {{object.email}}</p>

{% if object.avatar %}
<p>Avatar: <img class="profile__avatar" src="{{object.avatar.url}}"> </p>
{% endif %}
<p><a class="button"  href="{% url 'index'%}">Back to categories</a></p>

{% if object.id == user.id  and user.is_authenticated %}
<p ><a class="button" href="{% url 'accounts:profile_edit' object.id %} ">Edit profile</a></p>
<p ><a class="button" href="{% url 'ad_create' %} ">Create new advertisement</a></p>
<p><a class="button" href="{% url 'ad_list' %}">My advertisements</a></p>

{% endif %}

{%endblock content%}
