* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  background-color: #fff;
}


 .wrapper {
  width: 100%;
  margin: 0 auto;}

img {
  display: block;
}

a {
color: #1E0606;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }


.button {
  font-weight: 400;
  color: #FFFFFF;
  line-height: 22px;
  background-color: #000000;
  border: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  cursor: pointer;
  font-size:16px;
}

.button:hover {
  color: #C29974;
}

.button:active {
  background-color: #CFAF91;
}

.button:disabled {
  background-color: #C7C1C1;
 }

/*header*/

.header {
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color:#fb7321;
 }
.header__logo{
font-family: "Quintessential";
font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000;
}

.header__user_name{
 color: #000;
}

.header__user_name, .header__user_auth{
  margin: 10px 0 10px 0;
  padding: 0;
}



/*footer*/

.footer{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:#fb7321;
  margin-top: 10px;
}


